<div class = "feed">
	<%= render partial: 'shared/user_basic_info', object: feed.user, as: 'user', locals: { time: feed.created_at } %>
	<div class = "image" id = "target_<%= feed.id %>">
		<div class = "like hide"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></div>
		<%= image_tag(feed.image.url(:medium)) %>
	</div>
	<div class = "post_details">
		<p><strong id = "post_<%= feed.id %>"><%= pluralize(feed.votes_for.size, "like") %></strong></p>
		<% if !feed.caption.empty? %>
			<p><strong><%= feed.user.username %></strong> <%= feed.caption %></p>
		<% end %>
		<div id = "comment_section_<%= feed.id %>">
			<% if feed.comments.any? %>
				<%= render partial: 'comments/comments', object: feed, as: 'post' %>
			<% end %>
		</div><hr/>
		<div id = "user_action_<%= feed.id %>">
			<span id = "like_button_<%= feed.id %>">
				<% if current_user.voted_for? feed %>
					<%= render partial: 'unlike', object: feed, as: 'feed' %>
				<% else %>
					<%= render partial: 'like', object: feed, as: 'feed' %>
				<% end %>
			</span>			
			<%= render partial: 'comments/create', object: feed, as: 'feed' %>
		</div>
	</div>
</div>

