<div class = "user col-md-8 col-md-offset-2">
	<div class = "profile_picture">
		<%= image_tag(@user.profile_picture.url) %>
	</div>
	<div class = "details">
		<h3><%= @user.username %></h3>
		<% if current_user == @user %>
			<%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-default edit' %>
		<% else %>
			<%= render 'follow_form', user: @user %>
		<% end %>
		<p><%= @user.biography %></p>	
		<ul>
			<li><strong><%= @user.posts.size %></strong> posts </li>
			<li><a href = "<%= following_user_path(@user) %>"><strong id = "following"><%= @user.following.count %></strong> following</a></li>
			<li><a href = "<%= followers_user_path(@user) %>"><strong id = "followers"><%= @user.followers.count %></strong> followers</a></li>
		</ul>
	</div>
</div>
<div class = "posts">
	<% @posts.each do |post| %>
		<%= link_to post do %>
			<div class = "col-xs-4">
					<div class = "post">
					<%= image_tag(post.image.url(:thumb)) %>
					<div class = "bg-features">	
						<div class = "features">
							<div class = "likes">
								<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
								<%= post.votes_for.size %>
							</div>
							<div class = "comments">
								<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
								0
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>