<div class = "user col-md-8 col-md-offset-2">
	<div class = "profile_picture">
		<%= image_tag(@user.profile_picture.url) %>
	</div>
	<div class = "details">
		<h3><%= @user.username %></h3>
		<%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-default edit' %>
		<p><%= @user.biography %></p>		
	</div>
</div>
<div class = "posts">
	<% @user.posts.each do |post| %>
	<%= link_to post do %>
		<div class = "post col-xs-4">
			<%= image_tag(post.image.url(:medium)) %>
			<div class = "bg-features">	
				<div class = "features">
					<div class = "likes">
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						<%= post.votes_for.size %>
					</div>
					<div class = "comments">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
						0
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<% end %>
</div>