<div class = "user">
<%= image_tag(@user.profile_picture.url) %>
<%= @user.username %>
<%= @user.biography %>
<%= link_to "Edit Profile", edit_user_registration_path %>
</div>
<div class = "posts">
	<% @user.posts.each do |post| %>
		<div class = "col-md-4">
			<%= image_tag(post.image.url(:medium)) %>
			<%= post.caption %>
		</div>
	<% end %>
</div>