<%= image_tag(@post.image.url(:medium)) if @post.image %>
<p>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>
<p><%= @post.votes_for.size %></p>

<% if current_user.voted_for? @post %>
	<%= link_to 'Unlike', unlike_post_path, method: :put %>
<% else %>
	<%= link_to "Like", like_post_path, method: :put %>
<% end %> |
<%= link_to "Delete", @post, method: :delete %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
